:root{
    --primario:#454A78;
    --secundario:#ACA59D;
    --primario-claro:#C7C8CD;
    --secundario-claro:#E5DBD0;
    --primario-blanco:#EEEFF3;
    --secundario-blanco:#e9e2dc;
    --primario-oscuro:#262945;
    --secundario-oscuro:#706B65;

}
.bg-primario{
    background-color: var(--primario);
}
.bg-secundario{
    background-color: var(--secundario);
}
.bg-primario-claro{
    background-color: var(--primario-claro);
}
.bg-secundario-claro{
    background-color: var(--secundario-claro);
}
.bg-primario-blanco{
    background-color: var(--primario-blanco);
}
.bg-secundario-blanco{
    background-color: var(--secundario-blanco);
}
.bg-primario-oscuro{
    background-color: var(--primario-oscuro);
}
.bg-secundario-oscuro{
    background-color: var(--secundario-oscuro);
}


.fg-primario{
    color: var(--primario);
}
.fg-secundario{
    color: var(--secundario);
}
.fg-primario-claro{
    color: var(--primario-claro);
}
.fg-secundario-claro{
    color: var(--secundario-claro);
}
.fg-primario-blanco{
    color: var(--primario-blanco);
}
.fg-secundario-blanco{
    color: var(--secundario-blanco);
}
.fg-primario-oscuro{
    color: var(--primario-oscuro);
}
.fg-secundario-oscuro{
    color: var(--secundario-oscuro);
}
.fg-blanco{
    color: white;
}

@page {
    margin-top: 78mm;
    margin-left: 15mm;
    margin-right: 15mm;
    border-top: 1px solid var(--secundario-blanco);
    border-bottom: 1px solid var(--secundario-blanco);
    margin-bottom: 16mm;
    padding-top: 10px;
    padding-bottom: 10px;
    @bottom-right{
        content: "Pagina " counter(page) " de " counter(pages);
        vertical-align: top;
        padding-top: 10px;
        justify-content: end;
        
      }
      @bottom-left{
       
        content:element(texto-izquierda);
        vertical-align: top;
        padding-top: 10px;
    }
    @top-center{
        content: element(header);        
        vertical-align:bottom;
    }

    @right-middle{
       vertical-align: bottom;
        content: element(signa);
        
        
    }
    @left-middle{
        content: string(titulo,start); 
        position: absolute;
        width: 100vw;
   
    text-align: center;
    font-size: 30px !important;
    font-weight: bold;
    top: -25px;
    }
    
  }
 
  div{
    font-size: small;
    color: var(--secundario-oscuro);
  }
  .pagedjs_page .pagedjs_margin-bottom-right>.pagedjs_margin-content::after{
    font-size: smaller;
    color: var(--secundario);
  }
 .header{
   
    position: running(header);
 }
 .cabecera-full{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .cabecera{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    justify-content: center;
    align-items: center;
 }
 .fecha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap:2px;
    border-radius: 10px;
    border: 1px solid var(--primario);
    height: fit-content;
    overflow: hidden;
    width: 150px;
 }
.texto-izquierda{
    position: running(texto-izquierda);
    width: 600px;
    font-size: smaller;
    color: var(--secundario);
}
.caja-fecha .titulo{
    
    background-color: var(--primario);
    font-size: smaller !important;
    font-weight: bold;
    padding: 5px;
}
.caja-fecha .texto{
    padding: 5px;
    font-size: smaller !important;
}
.titulo-central{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: larger;
}
.logotipo{
    display: flex;
    justify-content: end;
}
.logotipo img{
    max-height: 70px;
    max-width: 200px;
    cursor: pointer;
}
.cabecera2{
    
    border-radius: 10px;
    padding: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

 .texto-derecha{
    text-align: left;
   width: 1060px;
   transform: rotate(270deg);
   margin-left: -490px;
   margin-top: -485px;
   padding-left: 50px;
   padding-top: 5px;
   padding-bottom: 5px;
   background-color: var(--primario-blanco);
font-size: small;
text-transform: uppercase;
font-weight: bold;
    position: running(signa);
    color: var(--primario-claro);
 }
 .caja-info{
    display: grid;
    grid-template-columns: 170px 1fr;
    gap: 10px;
 }
 .titulo-info{
    text-align: left;

 }
 .texto-info{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: left;
 }
 .subtitulo1{
    font-weight: bolder;
    font-size: medium;
    text-transform: uppercase;
 }
 .cuerpo{
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .titulo_cuerpo{
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
 }
 .elemento{
    padding-bottom: 20px;
 }
 .desarrollo b{
    width: fit-content;
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: var(--primario);
    padding-bottom: 10px;
 }
 br{
    display: none;
 }
 .desarrollo{
    text-align: justify;
    text-align-last:left;
 }
.spacer{
    height: 15px;
    width: 100%;
}

.participante{
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    height: 80px;
    margin-bottom: 10px;
    width: 100%;
    page-break-inside: avoid;
    border: 1px solid var(--primario-blanco);
    padding: 5px;
    border-radius:7px;
}
.caja-infop{
    display: flex;
    flex-direction:column;
    height: 100%;
    justify-content: center;
}
.caja-infop .nombre{
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primario);
}
.caja-infop .cargo{
    text-align: left;
    font-size: smaller;
    color: var(--secundario);
}
.caja-firma{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: end;
}
.firma-elec{
    
    padding-top: 5px;
    border-top: 1px solid var(--secundario-blanco);
    font-size: smaller;
    margin-left: 10px;
    color: var(--secundario);
}
h6{
    font-weight: bolder !important;
    text-transform: uppercase;
    font-size:medium !important;
    color:var(--primario-oscuro) !important;
    string-set: titulo content(text);
    text-align: center;
    background-color: var(--primario-claro);
    padding: 5px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.adjuntos{
    border-radius: 10px;
    border: 1px solid var(--primario-claro);
    padding: 10px;
}
.divisor{
    height: 20px;
    width: 100%;
    content: '';
}
.btn-print{
    background-color:var(--primario);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    font-size: medium;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
}
.icon-printer{
    width: 30px;
}
